*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.mainTrailerSection{
    position: relative;
    height: 500px;
    width: 100vw;
    background-position: top;
    background-size: cover;
    color: white;
    margin-left: -13vw;
    margin-top: -2.1vh;
}

.trailersection{
    font-size: 1.5rem;
}

.playbtn{
    background-color: #e63946;
    padding: 10px 20px;
    /* margin: 20px; */
    border-radius: 5px;
    width: 120px;
    /* height: 7vh; */
    color: aqua;
    border: 2px solid black;
    box-shadow: 4px 4px 0 #d90429;
    z-index: 10;
    margin-top: 50vh;
    margin-left: 10vw;
    transition: transform 0.2s , box-shadow 0.2s;
}

.playbtn:active{
    transform: translateX(4px) translateY(4px);
    box-shadow: 0 0 0 #d90429;
    cursor: pointer;
}
  
.playbtn2{
    background-color: #e63946;
    padding: 5px 5px;
    width: 14vw;
    height: 7vh;
    border-radius: 5px;
    color: aqua;
    border: 2px solid black;
    box-shadow: 4px 4px 0 #d90429;
    z-index: 10;
    transition: transform 0.2s , box-shadow 0.2s;
}

.playbtn2:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: 0 0 0 #d90429;
    cursor: pointer;
}

.titlebtn{
    display: flex;
    justify-content: space-between;
}

.YouTube{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overview{
    background-color: rgb(33, 32, 32);
    color: white;
    margin: 20px 0;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px #292727;
}

@media screen and (max-width:550px) {
    .mainTrailerSection{
         margin-top: -1vh;
        margin-left: -4.8vw;
    }
}