*{
    scroll-behavior: smooth;
}

.trending{

    background-color: #00000059;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    width: 100%;
    height: auto;
    text-decoration: none;
    border-radius: 15px;
}

.link{
    text-decoration: none;
    color: white;
}

.pageName{
    border: 1px solid white;
    box-shadow: 5px 5px #888888;
    background-color: rgb(0, 19, 128);
    color: wheat;
    margin: 30px 0;
}

.pageName:hover{
    background-color: black;
    color: white;
}