.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgb(48, 44, 44);
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: rgb(222, 209, 209);
    z-index: 100;
}

.header:hover{
    background-color: white;
    color: black;
}

@media screen and (max-width:700px) {
    .header{
        padding-top: 15px;
        font-size: 4.4vw;
    }

}