*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.singleContent{
    display: flex;
    flex-direction: column;
    width: 200px;
    height:auto;
   
    position: relative;
    border-radius: 10px;
    background-color: #00000059;
    margin: 10px 10px;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.singleContent:hover{
    background-color: white;
    color: black;
    width: 220px;
    height: auto;
}

.posters{
    border-radius: 10px;
}

.text{
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    padding-bottom: 3px;
}

.title{
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width:550px){
    .singleContent{
        width: 46%;
        height: auto;
        object-fit: contain;
    }

    .posters{
        border-radius: 10px;
    }

    .title{
        width: 100%;
        font-size: 17px;
        padding: 8px 0;
    }
    .singleContent{
        width:35vw;
        height:auto;
    }
   
    .singleContent:hover{
        width: 36vw;
        height: auto;
    }
    
}